/* src/styles/global.css */

/* Regular */
@font-face {
  font-family: 'Uridaum';
  src: url('/font/wooridaum_ttf/WooridaumR.ttf') format('truetype'),
    url('/font/wooridaum_ttf/WooridaumR.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Bold */
@font-face {
  font-family: 'Uridaum';
  src: url('/font/wooridaum_ttf/WooridaumB.woff2') format('woff2'),
    url('/font/wooridaum_ttf/WooridaumB.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

/* Light */
@font-face {
  font-family: 'Uridaum';
  src: url('/font/wooridaum_ttf/WooridaumL.woff2') format('woff2'),
    url('/font/wooridaum_ttf/WooridaumL.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

/* Tailwind CSS 초기화 */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 글로벌 스타일 적용 */
body {
  @apply font-sans;
  background-image: url('/bg_visual_port.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Custom scrollbar hidden */
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.scrollbar-hidden {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}
